<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Quiz</title>
</head>
<body>
    <h1>{{ quiz.title }}</h1>
        <!-- Flash messages display section -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container">
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="alert alert-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    <p>{{ quiz.question }}</p>
    
    <form method="POST">
        <label for="answer">Your Answer:</label>
        <input type="text" name="answer" required><br><br>
        <button type="submit">Submit Answer</button>
    </form>
    <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
</body>
</html>
